{% extends 'base.html.twig' %}

{% block title %}Ingredient{% endblock %}

{% block body %}
    <h1>Ingredient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ingredient.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ ingredient.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ingredient_index') }}">Back to list</a>
{% endblock %}
